In [30]:
import csv
import pandas as pd
import os

In [31]:
def find_filenames(keywords = '', directories = None):
    all_of_dir = []
    if directories is None:
        all_of_dir = os.listdir()
    else:
        all_of_dir = os.listdir(directories)
    names = []
    for filename in all_of_dir:
        if keywords in filename:
            names.append(filename)
    return names

In [33]:
names = find_filenames('City_', 'cities/')

In [36]:
names

['City_139762121030240.csv',
 'City_139761861945568.csv',
 'City_139762121030528.csv',
 'City_139762121791424.csv',
 'City_139761961549248.csv',
 'City_139762121621072.csv',
 'City_139762121029520.csv',
 'City_139762121029616.csv',
 'City_139761961548048.csv',
 'City_139762121029712.csv']

In [37]:
df = pd.read_csv('cities/' + names[0])

In [40]:
df

,month_ago,dist_to_the_nearest_factory,population,gdp_per_capita,competition
0,60,262.66,15908,4478,2
1,59,262.66,15907,4420,1
2,58,262.66,15905,4359,2
3,57,262.66,15905,4300,2
4,56,262.66,15905,4248,1
5,55,262.66,15903,4291,4
6,54,262.66,15902,4242,1
7,53,262.66,15901,4263,1
8,52,262.66,15901,4257,0
9,51,262.66,15901,4247,1
10,50,262.66,15899,4257,1
11,49,262.66,15898,4272,2
12,48,262.66,15896,4228,2
13,47,262.66,15895,4216,1
14,46,262.66,15895,4207,1
15,45,262.66,15895,4188,0
16,44,262.66,15893,4178,1
17,43,262.66,15892,4225,2
18,42,262.66,15891,4244,1
19,41,262.66,15889,4280,1
20,40,262.66,15889,4256,1
21,39,262.66,15888,4299,1
22,38,262.66,15888,4307,1
23,37,262.66,15887,4307,0
24,36,262.66,15886,4277,0
25,35,262.66,15884,4251,1
26,34,262.66,15882,4240,1
27,33,262.66,15880,4244,0
28,32,262.66,15880,4172,0
29,31,262.66,15879,4162,8
30,30,262.66,15877,4234,8
31,29,262.66,15876,4215,8
32,28,262.66,15876,4241,10
33,27,262.66,15875,4239,10
34,26,262.66,15874,4244,14
35,25,262.66,15872,4212,15
36,24,262.66,15871,4204,20
37,23,262.66,15871,4270,24
38,22,262.66,15871,4334,26
39,21,262.66,15871,4338,22
40,20,262.66,15871,4358,20
41,19,262.66,15870,4326,23
42,18,262.66,15868,4255,23
43,17,262.66,15867,4201,5
44,16,262.66,15867,4180,3
45,15,262.66,15866,4217,3
46,14,262.66,15865,4276,4
47,13,262.66,15865,4373,5
48,12,262.66,15865,4392,9
49,11,262.66,15863,4338,10
50,10,262.66,15861,4258,10
51,9,262.66,15859,4204,6
52,8,262.66,15859,4205,5
53,7,262.66,15859,4210,6
54,6,262.66,15858,4210,5
55,5,262.66,15857,4155,3
56,4,262.66,15856,4146,3
57,3,262.66,15856,4130,3
58,2,262.66,15854,4076,4
59,1,262.66,15852,4048,4